@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,500&family=Zen+Kurenaido&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300&family=Josefin+Sans:ital,wght@1,300;1,400&display=swap');

/* 
    font-family: 'Cairo', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Zen Kurenaido', sans-serif; 
*/

body{
    background: whitesmoke;
}

.bodyimg{
    opacity: 0.12;
    display: table;
    width: 100%;
    height: 200%;
    padding: 100px 0;
    text-align: center;
    background-position: 30% 45%;
    background-color: rgb(77, 43, 43);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
}

.folder{
    display: flex;
    background-image: linear-gradient( to bottom, #757565, #928c5d, #b6b06e);
    background-repeat: no-repeat;
    min-height: 100%;
}

.img{
    flex: 0;
}

.titlep{
    flex: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    text-align: center;
    margin-bottom: 25px;
    color: rgba(10, 10, 10, 0.822);
    margin: auto auto auto 45px;
    text-shadow: 1px 2px 6px whitesmoke; 
}

.title{
    flex: 1;
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    text-align: left;
    color: rgba(10, 10, 10, 0.822);
    margin: auto auto auto 250px;
    text-shadow: 1px 2px 6px whitesmoke;            
}

.folder2{
    flex: 1;
}

.subtitle{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: auto;
    padding: 15px 10px 45px 10px;
    background: #b6b06e;
    text-shadow: 2px 2px 5px white;
}

.conteudo{
    flex: 1;
    font-family: "Cairo", sans-serif;
    text-align: justify;
    text-indent: 1.5em;
    margin: 5px 50px;
    font-size: 20px !important;
    line-height: 45px;
}

.subtitle2{
    flex: 1;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

.conteudobtn{
    text-align: center;
    padding: 3rem;
}

.btn{
    flex: 1;
    border: 1px solid black;
    border-radius: 15px 50px;
    cursor:  pointer;
    padding: 10px;
    width: 100px;
    height: 100px;
    margin: 0 50px;
    text-decoration: none;
    color: black;
    /* background: #c2bd75; */
    background-image: linear-gradient( to right, #a0a08c, #b6ae73, #e4dc8b);
}

.btn:hover{
    color: white;
    text-shadow: 1px 1px 5px black;
}

.marcas{
    font-weight: bold;
    color: black;
}

.marcar{
    font-weight: bolder;
    color: black;
}

.li{
    margin-left: 35px;
} 

.footer{
    flex: 1;
    text-align: center;
    text-decoration: none;
    background: #585534;
    margin: auto;
    padding: 10px;
    color: black;
    text-shadow: 2px 2px 5px white;
}