@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300&family=Josefin+Sans:ital,wght@1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Architects+Daughter&family=Dancing+Script:wght@400;700&family=Lobster&family=Rampart+One&display=swap');

/*  
    font-family: 'Cairo', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Acme', sans-serif;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Rampart One', cursive;
 */

.body{
    opacity: 0.12;
    display: table;
    width: 100%;
    height: 200%;
    padding: 100px 0;
    text-align: center;
    background-position: 30% 45%;
    background-color: rgb(77, 43, 43);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
}

.bodyviva{
    opacity: 0.12;
    display: table;
    width: 100%;
    height: 200%;
    padding: 360px 0;
    text-align: center;
    background-position: 30% 45%;
    background-color: rgb(77, 43, 43);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
}

.bodyalim{
    opacity: 0.12;
    display: table;
    width: 100%;
    height: 200%;
    padding: 300px 0;
    text-align: center;
    background-position: 30% 45%;
    background-color: rgb(77, 43, 43);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
}

.bodyexer{
    opacity: 0.12;
    display: table;
    width: 100%;
    height: 200%;
    padding: 600px 0;
    text-align: center;
    background-position: 30% 45%;
    background-color: rgb(77, 43, 43);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: absolute;
}

.container0{ /*Domina todas as páginas*/
    display: flex;   
    box-shadow: 1px 1px 0.5px whitesmoke;
    background: lightsteelblue;
}

.title{
    position: relative;
    text-align: center;
    text-shadow: 0.3px 3px 2px whitesmoke;
    padding: 15px;
    font-family: 'Acme', sans-serif;
    font-size: 50px;
    flex: 1;
}

.box{
    position: relative;
    text-align: center;
    padding: 20px;
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    flex: 1;
}

.btn{
    border: none;
	height: 28px;
	background: gray;
	color: whitesmoke;
	text-decoration: none;
	display: inline-block;
	padding: 6px 12px;
	line-height: 1.3;
	border-radius: 15px;
	font-weight: bold;
	cursor:  pointer;
    background: #2c373b;
}

.container1home{
    display: flex;
    margin: 50px auto;
}

.conteudo1home{
    position: relative;
    flex: 1;
    font-family: "Cairo", sans-serif;
    text-align: justify;
    text-indent: 1.5em;
    margin: 60px 35px;
    font-size: 20px !important;
    line-height: 45px;
}

span{
    font-weight: bold;
}

.img1home{
    margin: auto 35px;
}

.container2home{
    display: flex;
    margin: 50px auto;
}

.conteudo2home{
    position: relative;
    flex: 1;
    font-family: "Cairo", sans-serif;
    text-align: justify;
    text-indent: 1.5em;
    margin: 60px 35px;
    font-size: 20px !important;
    line-height: 45px;
}

.img2home{
    margin: auto 35px;
}

.container3home{
    display: flex;
    margin: 50px auto;
}

.conteudo3home{
    position: relative;
    flex: 1;
    font-family: "Cairo", sans-serif;
    text-align: justify;
    text-indent: 1.5em;
    margin: 30px 35px;
    font-size: 20px !important;
    line-height: 45px;
}

.img3home{
    margin: auto 35px;
}

.footer{
    position: relative;
    flex: 1;
    color: lightsteelblue;
    text-align: center;
    font-size: 12px !important;
}

.container1viva{
    display: flex;
    margin: 50px auto;
}

.conteudo1viva{
    position: relative;
    flex: 1;
    font-family: "Cairo", sans-serif;
    text-align: justify;
    text-indent: 1.5em;
    margin: 30px 35px;
    font-size: 20px !important;
    line-height: 45px;
}

.container2viva{
    display: flex;
    margin: 30px auto;
}

.h2viva{
    position: relative;
    text-align: left;
    text-shadow: 0.3px 3px 2px whitesmoke;
    padding: 15px;
    margin-top: -65px;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
    flex: 1;
}

.conteudo2viva{
    position: relative;
    flex: 1;
    font-family: "Cairo", sans-serif;
    text-align: justify;
    text-indent: 1.5em;
    margin: 30px 35px;
    font-size: 20px !important;
    line-height: 45px;
}

.img2viva{
    margin: auto 35px;
}

.container3viva{
    display: flex;
    margin: 30px auto;
}

.conteudo3viva{
    position: relative;
    flex: 1;
    font-family: "Cairo", sans-serif;
    text-align: justify;
    text-indent: 1.5em;
    margin: 30px 35px;
    font-size: 20px !important;
    line-height: 45px;
}

.img3viva{
    margin: auto 35px;
}

.container4viva{
    display: flex;
    margin: 30px auto;
}

.conteudo4viva{
    position: relative;
    flex: 1;
    font-family: "Cairo", sans-serif;
    text-align: justify;
    text-indent: 1.5em;
    margin: 30px 35px;
    font-size: 20px !important;
    line-height: 45px;
}

.img4viva{
    margin: auto 35px;
}

.li{
    font-size: 20px;
}

.container5viva{
    display: flex;
    margin: 30px auto;
}

.conteudo5viva{
    position: relative;
    flex: 1;
    font-family: "Cairo", sans-serif;
    text-align: justify;
    text-indent: 1.5em;
    margin: 30px 35px;
    font-size: 20px !important;
    line-height: 45px;
}

.img5viva{
    margin: 10px -35px;
}

.container1alim{
    display: flex;
}

.h2alim{
    position: relative;
    flex: 1;
    font-family: 'Architects Daughter', cursive;
    font-size: 45px;
    text-align: center;
    margin: 50px auto;
    text-shadow: 1px 1px 3px rgb(183, 227, 241);
}

.h3alim{
    position: relative;
    flex: 1;
    font-size: 25px;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 50px auto;
    /* text-shadow: 1px 1px 3px rgb(183, 227, 241); */
}

.conteudo1alim{
    position: relative;
    /* flex: 1; */
    font-family: "Cairo", sans-serif;
    text-align: justify;
    text-indent: 2.5em;
    font-size: 20px !important;
    margin: 50px 35px;
    line-height: 45px;
}

/* .img1alim{
    flex: 1;
    margin: auto 35px;
} */

.container2alim{
    display: flex;
}

.conteudo2alim{
    position: relative;
    /* flex: 1; */
    font-family: "Cairo", sans-serif;
    text-align: justify;
    text-indent: 2.5em;
    font-size: 20px !important;
    margin: 50px 35px;
    line-height: 45px;
}

.img2alim{
    flex: 1;
    margin: auto 35px;
}

.container3alim{
    display: flex;
}

.conteudo3alim{
    position: relative;
    font-family: "Cairo", sans-serif;
    text-align: justify;
    text-indent: 2.5em;
    font-size: 20px !important;
    margin: 50px 35px;
    line-height: 45px;
}

.img3alim{
    flex: 1;
    margin: auto 35px;
}

.h2exer{
    position: relative;
    flex: 1;
    font-family: 'Architects Daughter', cursive;
    font-size: 45px;
    text-align: center;
    margin: 50px auto;
    text-shadow: 1px 1px 3px rgb(183 227 241);
}

.container2exer{
    display: flex;
    margin: 50px auto;
}

.conteudo2exer{
    position: relative;
    flex: 1;
    font-family: "Cairo", sans-serif;
    text-align: justify;
    text-indent: 1.5em;
    margin: 60px 10px 60px 45px;
    font-size: 20px !important;
    line-height: 45px;
}

.img2exer{
    flex: 1;
    margin: auto 35px;
    text-align: center;
}

/* .container2exer{
    display: flex;
    margin: 50px auto;
} */

.conteudo3exer{
    position: relative;
    flex: 1;
    font-family: "Cairo", sans-serif;
    text-align: justify;
    text-indent: 1.5em;
    margin: 60px 45px;
    font-size: 20px !important;
    line-height: 45px;
}

.container4exer{
    display: flex;
    margin: 50px auto;
}

.conteudo4exer{
    position: relative;
    flex: 1;
    font-family: "Cairo", sans-serif;
    text-align: justify;
    text-indent: 1.5em;
    margin: 60px -50px 60px 45px;
    font-size: 20px !important;
    line-height: 45px;
}

.img4exer{
    flex: 1;
    margin: auto 70px auto 0px;
    text-align: center;
}

.container5exer{
    display: flex;
    margin: 50px auto;
}

.conteudo5exer{
    position: relative;
    flex: 1;
    font-family: "Cairo", sans-serif;
    text-align: justify;
    text-indent: 1.5em;
    margin: 45px 50px;
    font-size: 20px !important;
    line-height: 45px;
}

.img5exer{
    flex: 1;
    margin: auto 15px;
    text-align: center;
}